name: build

on:
    repository_dispatch:
        types: [build]

jobs:
    publish:
        runs-on: ubuntu-latest
        env:
            DB_URL: ${{ secrets.DB_URL }}
            DB_NAME: ${{ secrets.DB_NAME }}
            GH_PAT: ${{ secrets.GH_PAT }}
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Install pnpm
              run: npm install -g pnpm@10

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: 22.14.0
                  cache: 'pnpm'

            - name: Setup pnpm
              uses: pnpm/action-setup@v4

            - name: Check Node.js version
              run: node -v

            - name: Install dependencies using pnpm
              run: pnpm i

            - name: Build express
              run: pnpm build
